* {
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(113, 218, 183);
}

#name {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  opacity: 0;
  border-radius: 5px;
  border: 3px solid rgb(245, 128, 128);
  padding: 0px 5px;
  font-size: 1.5rem;

}


#timeCont{
  background-color: white;
  width: fit-content;
  font-size: 1.5rem;
  padding: 5px 5px;
  border-radius: 5px;
  border: 3px solid rgb(245, 128, 200);        
}


svg path {
  cursor: pointer;
}